body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#describe-div {
    position: fixed;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

#demo-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.demo-webgpu-canvas {
    height: 100%;
    width: 100%;
}