<html>

<head>
    <meta charset="UTF-8">
    <title>graphlab</title>
  <script type="module" crossorigin src="../../../assets/template-qWdNt_jL.js"></script>
  <link rel="modulepreload" crossorigin href="../../../assets/modulepreload-polyfill-B5Qt9EMX.js">
  <link rel="modulepreload" crossorigin href="../../../assets/webgpu-utils.module-DYoVC6wh.js">
  <link rel="modulepreload" crossorigin href="../../../assets/objects-DCNIAmTT.js">
  <link rel="modulepreload" crossorigin href="../../../assets/color-DsrcJaFb.js">
  <link rel="modulepreload" crossorigin href="../../../assets/frustum-Ct-WGYXL.js">
  <link rel="stylesheet" crossorigin href="../../../assets/demo_3dgs-8dfyi-8X.css">
</head>

<body>
    <div id="describe-div">
        视锥体可视化及分析
    </div>
    <div id="demo-div">
        <canvas id="webgpu-canvas" class="demo-webgpu-canvas"></canvas>
    </div>
</body>

</html>